#parent input {
    color: rgb(141, 8, 141);
}
img {
    height: 400px;
}

.crossed {
    text-decoration: line-through;
}
.bold {
    font-weight: bold;
}
.colored {
    color: red;
}

#elem78 {
	display: none;
	width: 200px;
	height: 200px;
	border: 1px solid green;
}
#elem78.active {
	display: block;
}

td {
	width: 50px;
	height: 50px;
	border: 1px solid black;
}
table {
    border-collapse: collapse;
}
.back_color {
	background-color: rgb(215, 105, 243);
}
